extends layout
block content
    h1 Transformer

    p.
        O serviço Transformer permite transformar fluxos gerados a partir do Node-red em documentos genéricos interpretatos por outros serviços.
        Os documentos em JSON gerados pelo Node-red são transformados em regras em XML e DRL e disponibilizados através de HTTP GET, Web Sockets e MQTT.

    a(href="/docs/index.html") Docs