doctype html
html
  head
    title= "Message Broker"
    script(src='/js/jquery-1.11.3.min.js')
    link(rel='stylesheet', href='/bootstrap-3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Message Broker - Node.js')
    meta(name='author', content='Ricardo Mendes')
  body
    div(class='container')
        div(class='header clearfix')
            nav
                ul(class='nav nav-pills pull-right')
                    li(role='presentation')
                        a(href='about') About
            h3(class='text-muted') Message Broker
        
        block content
        
        footer(class='footer')            
            p(style='text-align: center;') Ricardo Mendes & Node.js & 0.0.1